/*************ROOT STUFF****************/
html,
body {
    overflow-x: hidden;
}

html {
    background-color: #26384A;
    background-size: cover;
    background-image: url(billeder/large-gastro-food.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: #BC8B0F;
    font-family: niagara-engraved, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(2, 2, 2, 0.2);
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: niagara-engraved, sans-serif;
    font-weight: normal;
    text-align: center;
}

p {
    font-family: expo-serif-pro, serif;
    margin: 2rem 0.5rem;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}


a,
a:visited,
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #BC8B0F;
}

/***** site grid *********/
.everythingWrapper {
    grid-template-areas:
        "head"
        "main"
        "foot";
}

header {
    grid-area: head;
}

main {
    grid-area: main;
}

footer {
    grid-area: foot;
}


.notMobileNav {
    display: block;
}

.yesMobileNav {
    display: none;
}

@media screen and (max-width: 768px) {
    .notMobileNav {
        display: none;
    }

    .yesMobileNav {
        display: block;
    }

    .desktopMenu,
    .desktopNav {
        display: none;
    }
}

/***** header ************/
header {
    height: 100vh;
}

.header {
    background: rgba(2, 2, 2, 0.6);
    font-size: 30px;
    width: 100vw;
    height: auto;
    padding: 1rem 0;
}

.burgerIcon {
    display: block;
    margin: 0 1rem 0 auto;
    cursor: pointer;
}

.logo {
    width: 60vw;
    height: 21vh;
    margin: 0 auto -0.5rem auto;
    display: block;
}

/*********DROPDOWN MENU***********/
.dropdownItems {
    display: none;
    list-style-type: none;
    /*margin: 15rem 0.6rem 0rem 1rem;*/
    font-family: niagara-engraved, sans-serif;
    font-size: 50pt;
    text-align: right;
    padding-right: 1rem;
    height: 73vh;
    justify-content: flex-end;
    flex-direction: column;
}

body.gradientBody {
    background-color: rgba(2, 2, 2, 0.6);
}

.dropdownItems li p {
    padding-left: 3rem;
}

.dropdownItems li:last-of-type {
    padding-bottom: 2rem;
}

/************** CONTENT WRAPPER ***************/
main {
    background-color: #26384A;
    padding-bottom: 1rem;
}

h4 {
    font-size: 35pt;
    margin: 1rem;
}

/* menu navigation */
.yesMobileNav h3,
.notMobileNav h3 {
    padding: 1rem 0 0 0;
    margin: 0;
}

.yesMobileNav {
    color: #BC8B0F;
    font-family: niagara-engraved, sans-serif;
    font-size: 35pt;
}

.yesMobileNav p {
    padding-top: 1rem;
    text-align: center;
    margin: 0;
}

.yesMobileNav .tallerken {
    width: 70px;
    margin: 1rem auto 1.5rem auto;
    display: block;

}

.yesMobileNav .menuKnap {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    border: 3px dashed #BC8B0F;
    padding: 5px;
}

.yesMobileNav .menuBorderInner {
    border: 1px dashed #BC8B0F;
    padding: 1px;
}


.notMobileNav {
    color: #BC8B0F;
    font-family: niagara-engraved, sans-serif;
    font-size: 35pt;
}

.notMobileNav p {
    padding-top: 1rem;
    text-align: center;
    margin: 0;
}

.notMobileNav .tallerken {
    width: 70px;
    margin: 1rem auto;
    display: block;
}

.notMobileNav .menuKnap {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 3px dashed #BC8B0F;
    padding: 5px;
}

.notMobileNav .menuBorderInner {
    border: 1px dashed #BC8B0F;
    padding: 7px;

    display: grid;
    grid-template-areas: "a a a";
}

.notMobileNav h5 {
    margin: 0;
}

.notMobileNav .menuBorderInner h5:nth-of-type(1),
.notMobileNav .menuBorderInner h5:nth-of-type(2) {
    border-right: 1px solid #BC8B0F;
}

/* main content */
.contentWrapper {
    display: grid;
    grid-template-areas: "a b a";
    margin: 2rem 1.5rem;
}

.contentWrapper .contentRow {
    border: 3px dashed #BC8B0F;
    padding: 5px;
}

.contentWrapper .innerBorder {
    border: 1px dashed #BC8B0F;
    padding: 1rem;
    height: 90%;
}

.socialIcons {
    display: block;
    margin: -1rem 0 0rem 9rem;
}

.reservationsKnap {
    width: 200px;
    margin: 2rem auto;
    text-align: center;
    border: 3px dashed #BC8B0F;
    padding: 5px;
    display: block;
    font-size: 35pt;
}

.reservationsKnap .innerBorder {
    border: 1px dashed #BC8B0F;
    padding: 1px;
}

/* start knap */
.startKnap {
    width: 2rem;
    height: 5vh;
}

/********* FOOTER ***********/

.footer {
    background-color: #2E2F39;
    padding: 2rem 1.5rem;
    display: grid;
}

.footerBox {
    margin: 0 auto;
    max-width: 1000px;
}

.footer h4 {
    font-size: 30pt;
    text-align: left;
    margin: 0 0 1.5rem 0;
}

.footer li {
    margin-top: .3rem;
}

.footer li,
.footer address {
    font-family: expo-serif-pro, serif;
}

.footerSection {
    margin-bottom: 1.4rem;
}

.footerSection p {
    margin: 0;
}

.footer address:first-of-type {
    margin-top: 1.2rem;
}

.footerSection:last-of-type h4 {
    margin-bottom: .3rem;
}

.lilleLogo {
    margin: -80px 0 0 auto;
}

.lilleLogo img {
    width: 80px;
}

@media screen and (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-areas: "a"
            "a"
            "b";
    }

    .footerSection {
        grid-column: 1/2;
        margin-bottom: 1.4rem;
    }

    .startKnap {
        margin: 1.5rem .3rem 0 auto;
    }
}


/****** DESKTOP QUERIES *********/
@media screen and (min-width: 769px) {

    .burgerIcon {
        padding-right: 1rem;
    }

    .dropdownItems {
        padding-right: 1.5rem;
    }

    .contentWrapper {
        display: grid;
        grid-template-areas:
            "a a"
            "b c"
            "d d";
        margin: 2rem 1.5rem;
        max-width: 1000px;
        margin: 0 auto;
    }

    .reservationsKnap {
        grid-area: a;
    }

    .startKnap {
        grid-area: d;
        margin: 1.5rem 0.3rem 0 auto;
    }

    .contentRow {
        width: 92%;
        margin: 0 auto;
        max-width: 500px;
    }

    .contentRow:first-of-type {
        grid-area: b;
    }

    .contentRow:nth-of-type(2) {
        grid-area: c;
    }


    /* billede Grid mm. */
    .menuGrid {
        max-width: 1000px;
        margin: 2rem auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, 30.5%);
        grid-auto-flow: row;
    }

    .menuGrid > div {
        display: inline-block;
        height: 500px;
        margin: 1rem;
    }


    .footerBox {
        grid-template-columns: repeat(4, 25%);
        display: grid;
        grid-gap: 1rem;
    }

    .lilleLogo {
        margin: -80px 0 0 auto;
    }

    .menuItem {
        background-position: center;
        background-size: cover;
    }

    .menuItem .overlay h4 {
        padding: 30% 0 0 0;
        text-transform: capitalize;
        color: white;
    }

    .menuItem .overlay .priceTag {
        padding-top: 1.5rem;
        font-family: niagara-engraved, sans-serif;
        font-size: 30pt;
        text-align: center;
        color: white;
    }

    .menuItem .overlay .beskrivelse {
        padding: 0 1.5rem;
        color: #e6d2d2;
    }

    .header {
        height: 90px;
    }

    .burgerIcon {
        display: none;
    }

    .logo {
        display: block;
        height: 30vh;
        width: auto;
        margin: 25vh 8vw 0 auto;
    }

    .logoLink {
        display: block;
    }

    .desktopNav {
        display: grid;
        grid-template-areas: "a b c . . . . . . ";
    }

    .desktopNav a {
        text-align: center;
        font-size: 40pt;
        line-height: 140px;
    }

    .menuButton:hover,
    a:hover {
        color: #ddcc4f;
        cursor: pointer;
    }
}

/********** MOBILE MENU ***********/
.menuStartKnap {
    width: 2rem;
    height: 5vh;
    margin: -4rem .5rem 1rem auto;
}

.menuContentWrapper {
    display: grid;
    grid-template-areas:
        "a"
        "a"
        "a"
        "a";
}

.menuContentWrapper > div {
    margin: 0 0 1rem 0;
}

.menuKort img,
.menuPic img {
    width: 100%;
}


/*********** HOVER EFFECT ***********/

.menuItem .overlay * {
    display: none;
}

.menuItem h4 {
    margin: 0;
}

.menuItem .overlay {
    transition: all .5s;
    height: 100%;
}

.menuItem:hover .overlay {
    background-color: rgba(0, 0, 0, .7);
}

.menuItem:hover .overlay * {
    display: block;
}
