/*************ROOT STUFF****************/
html {
    background-color: #26384A;
    background-size: cover;
    background-image: url(billeder/large-gastro-food.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(60, 60, 60, 0.4);
    height: 100%;
    width: 100%;
}

/***** header ************/
.header {
    grid-column: 1/6;
    grid-row: 1/2;
    background: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    width: 100vw;
    height: 40vw;
}

.burgerIcon {
    margin-left: 21rem;
    padding-top: 7.3rem;
}

.logo {
    width: 60vw;
    height: 21vh;
    margin-left: 5rem;
    position: absolute;
}

/*********DROPDOWN MENU***********/
.dropdownItems {
    margin-top: 3.3rem;
    margin-left: 1em;
    display: none;
    list-style: none;
    font-family: niagara-engraved, sans-serif;
    font-size: 50pt;
    margin-left: 8.8rem;
}

.dropdownItems li p {
    padding-left: 3rem;
}

@media(min-width: 525px) {
    .dropdownItems {
        font-size: 1.2rem;
    }
}

a,
a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #BC8B0F;
}

/********CONTENTWRAPPER **********/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-row: 6/6;
    background-color: #26384A;
    margin-top: 77.5vh;
}

.introTxt {
    font-family: niagara-engraved, sans-serif;
    font-size: 35pt;
    color: #BC8B0F;
    width: 80vw;
    margin-left: 3.2rem;
}

.tallerken {
    width: 20vw;
    height: 10vh;
    position: absolute;
    margin-left: 8.5rem;
    margin-top: 7rem;
}

.menuKnap {
    margin-top: 13rem;
    border-style: dashed;
    color: #BC8B0F;
    position: absolute;
    width: 50%;
    height: 8.vh;
    font-family: niagara-engraved, sans-serif;
    font-size: 35pt;
    text-align: center;
    margin-left: 4.5rem;

}
