/*************ROOT STUFF****************/
html {
    background-color: #26384A;
    background-size: cover;
    background-image: url(billeder/large-gastro-food.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(60, 60, 60, 0.4);
    height: 100%;
    width: 100%;
}

/***** header ************/
.header {
    grid-column: 1/6;
    grid-row: 1/2;
    background: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    width: 100vw;
    height: 40vw;
}

.burgerIcon {
    margin-left: 21rem;
    padding-top: 6rem;
}

.logo {
    margin-top: -100rem;
    /**det her virker ikke**/
    width: 50vw;
    height: 21vh;
    margin-left: 5.5rem;

}


/********CONTENTWRAPPER **********/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-row: 6/6;
    background-color: aqua;
    margin-top: 83.5vh;
}
